.background {
  viewport-fill: fb-black;
}

.scrollview-player {
  height: 100;
}

.scrollview-header {
  fill: fb-magenta;
  font-weight: bold;
  height: 35;
}

.scrollview-item-short {
  fill: fb-white;
  height: 30;
  x: 5;
}

.checkbox-tile {
  height: 40;
}

.checkbox-unselected-color image { 
  fill: fb-yellow; 
}

.flag { 
 { fill: fb-red; opacity: 1; }
}